    body, html
    {
        margin:0px;
        padding:0px;

        outline:0px none;
        border:0px none;
        font-family: 'Gamja Flower', cursive;

    }

h1 {
    margin: 10px;
    font-size: 100px;
    text-align: center;
}

.container {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.redDino {
    order: 1;
}

canvas {
    order: 2;
    border-radius: 8px;
}

.blueDino {
    order: 3;
}

h2 {
    text-align: center;
    font-size: 68px;
}

.redScore {
    font-size: 128px;
    text-align: center;
}

.blueScore {
    font-size: 128px;
    text-align: center
}